[submodule "ans-fedkuda"]
	path = ans-fedkuda
	url = https://github.com/raraduck/fedscript-202401-01.git
[submodule "ans-feddata"]
	path = ans-feddata
	url = https://github.com/raraduck/feddata.git
[submodule "ans-fedseg"]
	path = ans-fedseg
	url = https://github.com/raraduck/fedseg.git
